<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=StollDB;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="ImageRoot" value="~/uploads/EditorResim/"/>
    <add key="FilesRoot" value="~/uploads/EditorDosya/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <sessionState timeout="45"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1126411" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableEventValidation="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/404.html" responseMode="Redirect"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>